# This workflow will run tests using node and then publish a package to GitHub Packages when a release is created
# For more information see: https://docs.github.com/en/actions/publishing-packages/publishing-nodejs-packages

name: Publish Package

on:
  workflow_dispatch:
  release:
    types: [created]

jobs:
    publish:
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v6
        - name: Use Node.js
          uses: actions/setup-node@v6
          with:
            node-version: '18.x'
            registry-url: 'https://registry.npmjs.org'
        - name: Install & Build
          run: |
            npm ci
            npm run build
        - name: Test (non-interactive)
          run: npm test
          env:
            CI: true
        - name: Publish to npm
          env:
            NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
          run: npm publish --access public
